.add-gallery-page-wrapper{

}

.gallery-main-data{
    margin-bottom: 50px;
}

.gallery-main-data .gallery-main-image {
    height: 363px;
    width: 363px;
    display: flex;
    align-items: center;
    float: left;
    margin-right: 9px;
    border: 1px solid #888888;
    font-family: MainFont,Helvetica,Arial,sans-serif;
    font-size: 50px;
    text-align: center;
    color: #777777;
    cursor: pointer;
    user-select: none;
}

.main-data-fields input,
.main-data-fields textarea{
    width: 438px;
    height: 30px;
    padding: 8px;
    margin-bottom: 9px;
    border-radius: 0;
    border: 1px solid #888888;
}

.main-data-fields input :focus{
    border-radius: 0;
    border: 1px solid #888888;
}

.main-data-fields textarea {
    resize: none;
    margin-bottom: 0;
    height: 233px;
}

/*-------------------*/
.add-images-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    height: 75px;
    border: 1px solid #888888;
    margin-bottom: 40px;
    cursor: pointer;
    user-select: none;
    font-family: MainFont,Helvetica,Arial,sans-serif;

}
/*-------------------*/

