.list-thumbonail{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.dl-icon {
	max-width: none;
	left: -50%;
	position: relative;

	
}

.picture{
	position: relative;

}

.upload-button{
	position: relative;

	

}

.button-wrapper{
	left: -50%;
	
	position: relative;
	opacity: 0.5;

}

